<.header>
  Listing Favorites
  <:actions>
    <.link href={~p"/search"}>
      <.button>Search City Weather</.button>
    </.link>
  </:actions>
</.header>

<.table id="favorites" rows={@favorites}>
  <:col :let={favorite} label="City">{favorite.city}</:col>
  <:action :let={favorite}>
    <.link href={~p"/favorites/#{favorite}"} method="delete" data-confirm="Are you sure?">
      Delete
    </.link>
  </:action>
</.table>
