<.header>
  Favorite {@favorite.id}
  <:subtitle>This is a favorite record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/favorites/#{@favorite}/edit"}>
      <.button>Edit favorite</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="City">{@favorite.city}</:item>
</.list>

<.back navigate={~p"/favorites"}>Back to favorites</.back>
