<%= form_for @changeset, @action, fn f -> %>
  <div>
    <%= label f, :city %>
    <%= text_input f, :city %>
    <%= error_tag f, :city %>
  </div>
  <div>
    <%= submit "Save" %>
  </div>
<% end %>