<h1>Showing Favorite</h1>

<p>
  <strong>City:</strong>
  <%= @favorite.city %>
</p>

<%= link "Edit", to: Routes.favorite_path(@conn, :edit, @favorite) %> |
<%= link "Back", to: Routes.favorite_path(@conn, :index) %>