defmodule WeatherAppWeb.WeatherView do
  use WeatherAppWeb, :view

  def render("show.json", %{weather: weather}) do
    %{
      location: weather["location"]["name"],
      current: %{
        temperature: weather["current"]["temp_c"],
        condition: weather["current"]["condition"]["text"],
        icon: weather["current"]["condition"]["icon"]
      },
      forecast: weather["forecast"]["forecastday"]
    }
  end
end